<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.steven.oschina">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".OSCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App.Theme.Light">
        <activity
            android:name=".MainActivity"
            android:theme="@style/App.Theme.Main">
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:label="搜索"
            android:screenOrientation="portrait"
            android:theme="@style/App.Theme.Search"/>
        <activity
            android:name=".ui.PubActivity"
            android:label="发布选择"
            android:theme="@style/PubTheme">
        </activity>
        <activity android:name=".ui.synthetical.detail.EnglishArticleDetailActivity">
        </activity>
        <activity
            android:name=".ui.synthetical.detail.BlogDetailActivity"
            android:screenOrientation="portrait"
            android:label="博客详情"
            android:theme="@style/App.Theme.Main">
        </activity>
        <activity android:name=".ui.synthetical.detail.QuestionDetailActivity">
        </activity>

        <activity
            android:name=".ui.tweet.TweetDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:label="动弹详情"
            android:theme="@style/App.Theme.Tweet.Main">
        </activity>
    </application>

</manifest>